.containerDetails {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  font-size: large;
  line-height: 30px;
  width: 90%;
  padding-left: 20px;
}

.legend {
  font-size: smaller;
  line-height: 20px;
}

Svg {
  vertical-align: middle;
}

.tooltiptext {
  visibility: hidden;
  color: #d1d1d1;
  text-align: center;
  padding: 5px;
  font-size: smaller;
  z-index: 1;
}

Svg:hover ~ .tooltiptext {
  visibility: visible;
}
