.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  background-color: antiquewhite;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noLoading {
  display: none;
}
