table {
  width: 30%;
  border-collapse: separate;
  border-spacing: 0 5px;
  margin-left: 150px;
  font-size: medium;
}
td {
  border: solid 1px #000;
  border-style: solid none;
  padding: 5px;
  background-color: #2c3e50;
}
td:first-child {
  border-left-style: solid;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

tr:hover td {
  background-color: #355271;
  color: #959da6;
  cursor: pointer;
}

.container {
  position: relative;
  top: 35px;
  left: 3%;
  width: 40%;
  min-width: 300px;
  min-height: 300px;
  background-color: #2c3e50;
  border: 1px solid black;
  border-radius: 5px;
}

.closeBox {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  float: right;
  line-height: 40px;
  margin: 5px;
  border-radius: px;
}

.closeBox:hover {
  border: 1px solid #848484;
  background-color: #1e2f41;
  cursor: pointer;
}

.containerClose {
  display: none;
}

.containerSpiner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
