table {
  width: 40%;
  border-collapse: separate;
  border-spacing: 0 5px;
  /* margin-top: -10px; */
}
td {
  border: solid 1px #000;
  border-style: solid none;
  padding: 10px;
  background-color: #2c3e50;
}
td:first-child {
  border-left-style: solid;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

tr:hover td {
  background-color: #355271;
  color: #959da6;
  cursor: pointer;
}

.container {
  position: absolute;
  top: 10px;
  width: 600px;
  height: 500px;
  background-color: #2c3e50;
  border: px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.closeBox {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  float: right;
  line-height: 40px;
  margin: 5px;
  border-radius: 5px;
}

.closeBox:hover {
  border: 1px solid rgb(132, 132, 132);
  background-color: #1e2f41;
  cursor: pointer;
}

.containerClose {
  display: none;
}

.containerLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
